<div class="drawer drawer-end">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />

  <div class="drawer-content">
    <div class="container">
      <div class="flex justify-between py-2">
        <form class="join" #f="ngForm" (ngSubmit)="onSearch(f.value)">
          <input
            type="text"
            ngModel
            name="nom"
            placeholder="Nom du client"
            class="input input-bordered input-primary w-full max-w-xs join-item"
          />
          <button class="btn btn-primary join-item">Rechercher</button>
        </form>
        <div class="flex flex-row">
          <div class="join">
            <button class="join-item btn btn-primary" (click)="onNewClient()">Ajouter</button>
            <button class="join-item btn" [disabled]="isButtonPreviousDisabled" (click)="pagePrevious()">«</button>
            <button class="join-item btn" (click)="reloadCurrentPage(page)">Page {{ page + 1 }}</button>
            <button class="join-item btn" [disabled]="isButtonNextDisabled" (click)="pageNext()">»</button>
          </div>
        </div>
      </div>

      <ng-container *ngIf="clients">
        <ng-container *ngIf="clients.length > 0; else inconnu">
          <div class="overflow-x-auto">
            <table class="table">
              <!-- head -->
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Nom</th>
                  <th>Prénom</th>
                  <th>Mail</th>
                  <th>Téléphone</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <!-- row 1 -->
                <tr *ngFor="let c of clients">
                  <th>{{ c.id }}</th>
                  <td>{{ c.nom }}</td>
                  <td>{{ c.prenom }}</td>
                  <td>{{ c.mail }}</td>
                  <td>{{ c.tel }}</td>
                  <td class="join">
                    <button class="join-item btn btn-success" (click)="editClient(c)">Modifier</button>
                    <button class="join-item btn btn-primary" (click)="openFilterDrawer(c)">Voir</button>
                    <button class="join-item btn btn-error" (click)="openDeleteModal(c)">Supprimer</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-container>
        <ng-template #inconnu>
          <table class="table">
            <!-- head -->
            <thead>
              <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Mail</th>
                <th>Téléphone</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr class="w-full">
                <td colspan="5" classs="text-center">Aucun client</td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </ng-container>
    </div>

    <dialog #deleteModal class="modal">
      <div class="modal-box">
        <h3 class="font-bold text-lg">Voulez-vous vraiment supprimer {{ clientSelected?.nom }}?</h3>
        <p class="py-4">Cela supprimera définitivement ce client</p>
        <div class="modal-action">
          <form method="dialog" class="join">
            <button class="btn btn-error join-item" (click)="onDelete()">Oui</button>
            <button class="btn join-item">Non</button>
          </form>
        </div>
      </div>
    </dialog>

    <dialog #locationModal class="modal">
      <div class="modal-box w-11/12 max-w-5xl">
        <div *ngIf="clientSpecial === ClientSpecial.Locations">
          <h3 class="font-bold text-lg">
            Voici les locations de {{ clientSelected?.prenom }} {{ clientSelected?.nom }}
          </h3>
          <app-locations *ngIf="drawerMode === DrawerMode.filter" [client]="clientSelected"></app-locations>
        </div>

        <div *ngIf="clientSpecial === ClientSpecial.TaxiSansDoublon">
          <h3 class="font-bold text-lg">Taxi utilisé sans doublons</h3>
          <app-taxis *ngIf="drawerMode === DrawerMode.filter" [client]="clientSelected"></app-taxis>
        </div>

        <div *ngIf="clientSpecial === ClientSpecial.AdrSansDoublon">
          <h3 class="font-bold text-lg">Adresse sans doublons</h3>
          <app-adresses *ngIf="drawerMode === DrawerMode.filter" [client]="clientSelected"></app-adresses>
        </div>
      </div>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>

    <app-alert #alertComponent></app-alert>
  </div>
  <div class="drawer-side">
    <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <div class="menu p-4 min-h-screen w-80 bg-base-200 text-base-content">
      <app-newclient *ngIf="drawerMode === DrawerMode.add"></app-newclient>
      <app-editclient
        *ngIf="drawerMode === DrawerMode.edit"
        [client]="clientSelected"
        (clientChange)="onClientEdited($event)"
      ></app-editclient>
      <ng-container *ngIf="drawerMode === DrawerMode.filter">
        <h1>Filtres</h1>
        <div class="gap-4 flex flex-col">
          <button class="btn btn-primary" (click)="openSecialModal(ClientSpecial.Locations)">Locations</button>
          <button class="btn btn-primary" (click)="openSecialModal(ClientSpecial.TaxiSansDoublon)">
            Taxi utilisé sans doublons
          </button>
          <button class="btn btn-primary" (click)="openSecialModal(ClientSpecial.AdrSansDoublon)">
            Adresses de location
          </button>
        </div>

        <!--
          Tous les taxis utilisés sans doublon
          Toutes les locations entre deux dates
          Toutes les adresses où il s'est rendu sans doublon
          -->
      </ng-container>
    </div>
  </div>
</div>
