<form class="form-control gap-4 w-full max-w-xs" [formGroup]="adresseFormGroup" *ngIf="adresseFormGroup">
  <div>
    <label class="label">
      <span class="label-text">Rue</span>
    </label>
    <input
      type="text"
      placeholder="Rue"
      class="input input-bordered w-full max-w-xs"
      formControlName="rue"
      [ngClass]="{
        'input-error': submitted && adresseFormGroup.controls.rue.errors
      }"
    />
    <label *ngIf="submitted && adresseFormGroup.controls.rue.errors" class="text-red-500">
      <span *ngIf="adresseFormGroup.controls.rue.errors.required"> rue obligatoire </span>
    </label>
  </div>

  <div>
    <label class="label">
      <span class="label-text">Numéro</span>
    </label>
    <input
      type="text"
      placeholder="Numéro"
      class="input input-bordered w-full max-w-xs"
      formControlName="num"
      [ngClass]="{
        'input-error': submitted && adresseFormGroup.controls.num.errors
      }"
    />
    <label *ngIf="submitted && adresseFormGroup.controls.num.errors" class="text-red-500">
      <span *ngIf="adresseFormGroup.controls.num.errors.required"> num obligatoire </span>
    </label>
  </div>
  <div>
    <label class="label">
      <span class="label-text">Localité</span>
    </label>
    <input
      type="text"
      placeholder="localite"
      class="input input-bordered w-full max-w-xs"
      formControlName="localite"
      [ngClass]="{
        'input-error': submitted && adresseFormGroup.controls.localite.errors
      }"
    />
    <label *ngIf="submitted && adresseFormGroup.controls.localite.errors" class="text-red-500">
      <span *ngIf="adresseFormGroup.controls.localite.errors.required"> localite obligatoire </span>
    </label>
  </div>
  <div>
    <label class="label">
      <span class="label-text">Code postal</span>
    </label>
    <input
      type="number"
      placeholder="Code postal"
      class="input input-bordered w-full max-w-xs"
      formControlName="cp"
      [ngClass]="{
        'input-error': submitted && adresseFormGroup.controls.cp.errors
      }"
    />
    <label *ngIf="submitted && adresseFormGroup.controls.cp.errors" class="text-red-500">
      <span *ngIf="adresseFormGroup.controls.cp.errors.required"> cp obligatoire </span>
    </label>
  </div>

  <button (click)="onUpdateAdresse()" class="btn btn-primary">Modifier</button>
</form>
<app-alert #alertComponent></app-alert>
