<div class="container">
  <div class="flex py-2">
    <div class="flex flex-row">
      <div class="join">
        <button class="join-item btn btn-primary" (click)="onNewFacture()">Ajouter</button>
        <button class="join-item btn" [disabled]="isButtonPreviousDisabled" (click)="pagePrevious()">«</button>
        <button class="join-item btn" (click)="reloadCurrentPage(page)">Page {{ page + 1 }}</button>
        <button class="join-item btn" [disabled]="isButtonNextDisabled" (click)="pageNext()">»</button>
      </div>
    </div>
  </div>

  <ng-container *ngIf="factures">
    <ng-container *ngIf="factures.length > 0; else inconnu">
      <div class="overflow-x-auto">
        <table class="table">
          <!-- head -->
          <thead>
            <tr>
              <th>idLocation</th>
              <th>idTaxi</th>
              <th>Cout</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <!-- row 1 -->
            <tr
              *ngIf="isAdding"
              app-newfactures
              [location]="location"
              [taxiAvailable]="taxiEmitter"
              (newFacture)="onAddFacture($event)"
            ></tr>
            <tr *ngFor="let c of factures">
              <th>{{ c.location.id }}</th>
              <th>
                {{ c.taxi.immatriculation }}
              </th>
              <td>{{ c.cout | number : '1.2' }}</td>
              <td class="join">
                <button class="join-item btn btn-error" (click)="openDeleteModal(c)">Supprimer</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
    <ng-template #inconnu>
      <table class="table">
        <!-- head -->
        <thead>
          <tr>
            <th>idLocation</th>
            <th>idTaxi</th>
            <th>Cout</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="isAdding" app-newfactures [location]="location" (newFacture)="onAddFacture($event)"></tr>
          <tr class="w-full">
            <td colspan="4" classs="text-center">Aucune facture</td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </ng-container>
</div>

<dialog #deleteModal class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">
      Voulez-vous vraiment supprimer la facture contenant le taxi {{ factureSelected?.taxi?.immatriculation }}?
    </h3>
    <p class="py-4">Cela supprimera définitivement cette facture</p>
    <div class="modal-action">
      <form method="dialog" class="join">
        <button class="btn btn-error join-item" (click)="onDelete()">Oui</button>
        <button class="btn join-item">Non</button>
      </form>
    </div>
  </div>
</dialog>

<app-alert #alertComponent></app-alert>
