<div class="drawer drawer-end">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />

  <div class="drawer-content">
    <div class="container">
      <div class="flex justify-between py-2" *ngIf="!client">
        <form class="join" #f="ngForm" (ngSubmit)="onSearch(f.value)">
          <input
            type="text"
            ngModel
            name="localite"
            placeholder="Localité"
            class="input input-bordered input-primary w-full max-w-xs join-item"
          />
          <button class="btn btn-primary join-item">Rechercher</button>
        </form>
        <div class="flex flex-row">
          <div class="join">
            <button class="join-item btn btn-primary" (click)="onNewAdresse()">Ajouter</button>
            <button class="join-item btn" [disabled]="isButtonPreviousDisabled" (click)="pagePrevious()">«</button>
            <button class="join-item btn" (click)="reloadCurrentPage(page)">Page {{ page + 1 }}</button>
            <button class="join-item btn" [disabled]="isButtonNextDisabled" (click)="pageNext()">»</button>
          </div>
        </div>
      </div>

      <ng-container *ngIf="adresses">
        <ng-container *ngIf="adresses.length > 0; else inconnu">
          <div class="overflow-x-auto">
            <table class="table">
              <!-- head -->
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Rue</th>
                  <th>Numéro</th>
                  <th>Localité</th>
                  <th>Code Postal</th>
                  <th *ngIf="!client">Actions</th>
                </tr>
              </thead>
              <tbody>
                <!-- row 1 -->
                <tr *ngFor="let a of adresses">
                  <th>{{ a.id }}</th>
                  <td>{{ a.rue }}</td>
                  <td>{{ a.num }}</td>
                  <td>{{ a.localite }}</td>
                  <td>{{ a.cp }}</td>
                  <td class="join" *ngIf="!client">
                    <button class="join-item btn btn-success" (click)="editAdresse(a)">Modifier</button>
                    <button class="join-item btn btn-error" (click)="openDeleteModal(a)">Supprimer</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-container>
        <ng-template #inconnu>
          <table class="table">
            <!-- head -->
            <thead>
              <tr>
                <th>Id</th>
                <th>Rue</th>
                <th>Numéro</th>
                <th>Localité</th>
                <th>Code Postal</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr class="w-full">
                <td colspan="4" classs="text-center">Aucune adresse</td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </ng-container>
    </div>

    <dialog #deleteModal class="modal">
      <div class="modal-box">
        <h3 class="font-bold text-lg">Voulez-vous vraiment supprimer {{ adresseSelected?.id }}?</h3>
        <p class="py-4">Cela supprimera définitivement cette adresse</p>
        <div class="modal-action">
          <form method="dialog" class="join">
            <button class="btn btn-error join-item" (click)="onDelete()">Oui</button>
            <button class="btn join-item">Non</button>
          </form>
        </div>
      </div>
    </dialog>

    <app-alert #alertComponent></app-alert>
  </div>
  <div class="drawer-side" *ngIf="!client">
    <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <div class="menu p-4 min-h-screen w-80 bg-base-200 text-base-content">
      <app-newadresses *ngIf="drawerMode === DrawerMode.add"></app-newadresses>
      <app-editadresses
        *ngIf="drawerMode === DrawerMode.edit"
        [adresse]="adresseSelected"
        (adresseChange)="onAdresseEdited($event)"
      ></app-editadresses>
    </div>
  </div>
</div>
