<div class="flex justify-center">
  <article class="prose prose-zinc">
    <h1>Bienvenue sur Crazy Taxi Rental</h1>
    <h2>Prêt à vivre l'expérience ultime de location de taxi?</h2>
    <p>
      Bienvenue sur Crazy Taxi Rental, votre destination pour une aventure de location de taxi qui repousse les limites!
      Inspiré par le célèbre jeu vidéo Crazy Taxi, notre service offre une expérience unique où l'excitation, la vitesse
      et la performance se rencontrent.
    </p>

    <h2>Pourquoi choisir Crazy Taxi Rental?</h2>
    <ul>
      <li>
        Vitesse Folle: Nous comprenons l'importance de la rapidité et de l'efficacité. Chez Crazy Taxi Rental, nous nous
        engageons à vous offrir un service de location de taxi rapide et fiable.
      </li>
      <li>
        Véhicules Délirants: Nos taxis sont plus que de simples moyens de transport. Ce sont des machines puissantes,
        conçues pour rendre votre trajet aussi amusant que possible.
      </li>
      <li>
        Itinéraires Surprenants: Explorez la ville comme jamais auparavant avec nos itinéraires soigneusement planifiés.
        Vous ne savez jamais quelle aventure vous attend au coin de la rue!
      </li>
    </ul>

    <div class="flex justify-center">
      <img src="assets/images/t2.png" alt="Hero" class="hero-image" />
      <img src="assets/images/logo.png" alt="Hero" class="hero-image" />
      <img src="assets/images/t1.png" alt="Hero" class="hero-image" />
    </div>
  </article>
</div>
