<form class="form-control gap-4 w-full max-w-xs" [formGroup]="clientFormGroup" *ngIf="clientFormGroup">
  <div>
    <label class="label">
      <span class="label-text">Nom</span>
    </label>
    <input
      type="text"
      placeholder="Nom"
      class="input input-bordered w-full max-w-xs"
      formControlName="nom"
      [ngClass]="{
        'input-error': submitted && clientFormGroup.controls.nom.errors
      }"
    />

    <label *ngIf="submitted && clientFormGroup.controls.nom.errors" class="text-red-500">
      <span *ngIf="clientFormGroup.controls.nom.errors.required"> Nom obligatoire </span>
      <span *ngIf="clientFormGroup.controls.nom.errors.minlength"> Nom doit être plus grand que 2 charactères </span>
      <span *ngIf="clientFormGroup.controls.nom.errors.maxlength"> Nom doit être plus petit que 50 charactères </span>
    </label>
  </div>

  <div>
    <label class="label">
      <span class="label-text">Prénom</span>
    </label>
    <input
      type="text"
      placeholder="Prénom"
      class="input input-bordered w-full max-w-xs"
      formControlName="prenom"
      [ngClass]="{
        'input-error': submitted && clientFormGroup.controls.prenom.errors
      }"
    />
    <label *ngIf="submitted && clientFormGroup.controls.prenom.errors" class="text-red-500">
      <span *ngIf="clientFormGroup.controls.prenom.errors.minlength">
        prénom doit être plus grand que 2 charactères
      </span>
      <span *ngIf="clientFormGroup.controls.prenom.errors.maxlength">
        prénom doit être plus petit que 50 charactères
      </span>
      <span *ngIf="clientFormGroup.controls.prenom.errors.required"> prénom obligatoire </span>
    </label>
  </div>
  <div>
    <label class="label">
      <span class="label-text">Mail</span>
    </label>
    <input
      type="email"
      placeholder="Mail"
      class="input input-bordered w-full max-w-xs"
      formControlName="mail"
      [ngClass]="{
        'input-error': submitted && clientFormGroup.controls.mail.errors
      }"
    />
    <label *ngIf="submitted && clientFormGroup.controls.mail.errors" class="text-red-500">
      <span *ngIf="clientFormGroup.controls.mail.errors.email"> Mail invalide </span>
      <span *ngIf="clientFormGroup.controls.mail.errors.required"> Mail obligatoire </span>
    </label>
  </div>
  <div>
    <label class="label">
      <span class="label-text">Téléphone</span>
    </label>
    <input
      type="text"
      placeholder="Téléphone"
      class="input input-bordered w-full max-w-xs"
      formControlName="tel"
      [ngClass]="{
        'input-error': submitted && clientFormGroup.controls.tel.errors
      }"
    />
    <label *ngIf="submitted && clientFormGroup.controls.tel.errors" class="text-red-500">
      <span *ngIf="clientFormGroup.controls.tel.errors.required"> Téléphone obligatoire </span>
    </label>
  </div>

  <button (click)="onSaveClient()" class="btn btn-primary">Ajouter</button>
</form>
<app-alert #alertComponent></app-alert>
